html
{
    height: 100%;
}

body
{
    height: 100%;
    border: 0px;
}
td {
    padding: 0px;
}
.auction {
    background: white;
}
.auction .content {
    padding: 0px;
}

.auctionCompact {
    width: 320px;
}
.auctionDetails
{
    width: 100%;
    height: 90%;
    max-height: 100%;
}

    .auctionDetails td
    {
        vertical-align: top;
    }

    .players p
    {
        text-align: center;
    }

    .players
    {
        display: inline-block;
        background: white;
        padding: 5px;
        width: 385px;
        overflow-y: auto;
        max-height: 45%;
        vertical-align: top;
    }
    .auctionDetails .allPlayers {
        padding: 5px;
        background: white;
        width: 1183px;
        max-height: 45%;
        overflow-y: auto;
        margin-top: 5px;
    }
    .auctionDetails .allPlayers table {
        width: 100%;
    }
    .players table {
        width: 100%;
    }
    td.bids {
        padding-left: 10px;
    }
